html{
  background: url(../img/bandit-vector-cowboy.png) no-repeat center center fixed;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
  background-color: black;
}

.button {
  background-color: white;
  color:  #93191C;
  border: 2px solid black;
  transition-duration: 0.4s;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-family: 'Bebas Neue';
  font-size: 30px;
  cursor: pointer;
}

.button:hover {
  background-color: #93191C;
  color: white;
}

#centered-div{
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
